// Keywords: Background selection - with gene flow

initialize() {
	initializeMutationRate(7e-8);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeMutationType("m2", 0.5, "g", -0.05, 0.2); // background selection
	initializeGenomicElementType("g1",c(m1,m2),c(0.8,0.2));
	initializeGenomicElement(g1, 0, 499);
	initializeRecombinationRate(1.4e-7);
}


// Start running ancestral population
1 {
	defineConstant("path","/backgroundselection_geneflow/");
	defineConstant("simID", getSeed());
	sim.addSubpop("p1",1250);
	p1.tag = 0;
}


//Start period of isolation
20000 late() {
	// split the populations in half
	sim.addSubpopSplit("p2", 5800, p1);
	
	// instantaneous population size change
	p1.setSubpopulationSize(6600);
	p2.setSubpopulationSize(5800);
	
}

// Start secondary contact
21822: late() {
	p1.setMigrationRates(p2, 5.5e-6);
	p2.setMigrationRates(p1, 1.5e-4);
}


21952 late() {
	p1.outputMSSample(40, filePath=paste0(c(path,"backgroundselection_geneflow_run",run,"_pop1.ms")));
	p2.outputMSSample(28, filePath=paste0(c(path,"backgroundselection_geneflow_run",run,"_pop2.ms")));
}